{{> header }}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="col-sm-2">
          <h4 class="infoText">Online Users</h4>
          <div class="well" id = "roominfo">
              <ul class="list-group" id="users"></ul>
          </div>

          <h4 class="infoText">Polling</h4>
          <button class="btn btn-primary btn-block" id="startpoll">Start new polling</button>
          <div class="well" id = "pollPade"> 
            <form id = "pollForm">
              <input type="radio" name="pollO" value="A">A<br>
              <input type="radio" name="pollO" value="B">B<br>
              <input type="radio" name="pollO" value="C">C<br>
              <input type="radio" name="pollO" value="D">D<br>
              <br>
              <input class="btn btn-primary btn-block" type="submit" id="pollSubmit" value="Submit">
            </form>
            <div id="polling result">
            <ul class="list-group" id="pollingPesult"></ul>
            </div>
          </div>
          
          
        </div>

        <div class="col-sm-7">
          <div class="vedioArea">

          <div class="row" id="remotes"></div>
          <hr style="color:black">
          <p class="infoText">Local vedio: </p>
          <div class="videoContainer">
              <video id="localVideo" style="height: 200px" oncontextmenu="return false;"></video>
              <meter id="localVolume" class="volume" min="-45" max="-20" high="-25" low="-40"></meter>
          </div>
          
          <div id="localScreenContainer" class="videoContainer"></div>

          </div>
        </div>

        <div class="col-sm-3">
          <div class="chat" id="chat"></div>
          <form id="messageForm">
            <div class="form-group textinput">
              <input type="submit" class="btn btn-primary  btn-block" value="Send Messgae" />
              <textarea class="form-control" id="message"></textarea>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="js/lib/simplewebrtc.bundle.js"></script>
<script src='/js/chat.js'></script>


